body, html, #map, #map_canvas, #wrapper, #right, #left {
  height: 100%;
}

#wrapper {
  width: 100%;
  overflow: hidden;

  #left {
    width: 34%;
    float: left;
    display: inline-block;

    border-right: 1px solid black;
  }

  #right {
    width:64%;

    float: left;
    margin-left: 1%;

    overflow: hidden;

    #controls {
      height: 30px;

      #control-buttons {
        input {
          margin-right: 1%;
          width: 31%;
        }
        display: none;
      }
    }

  }
}